{{template "base" .}}

{{define "content"}}
    <div id="main-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators">
            <li data-bs-target="#main-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#main-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#main-carousel" data-bs-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/images/woman-laptop.png" class="d-block w-100" alt="Woman and laptop">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Comfortable rooms</h5>
                    <p>Bon Mary Apart Hotel has comfortable rooms.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/tray.png" class="d-block w-100" alt="Tray with coffee">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Palette of tastes</h5>
                    <p>The best restaurant in Nur-Sultan is located in our hotel.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/outside.png" class="d-block w-100" alt="Outside">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Best atmosphere</h5>
                    <p>Оur hotel has the best atmosphere of all.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Welcome to Bon Mary Apart-Hotel</h1>
                <p>
                    Bon Mary Apart-Hotel is located in the city of Nur-Sultan, overlooking the river.
                    It offers a restaurant, a 24-hour front desk, a snack bar, a garden and a children's playground.
                    <br>
                    The apart-hotel offers free Wi-Fi and free private parking.
                    Skiing and cycling can be enjoyed nearby. Ski equipment rental and a ski pass sales point are available on site.
                    <br><br>
                    Bon Mary Apart-Hotel is 7 km from the Baiterek Monument and 11 km from the venue of the Astana EXPO-2017 exhibition.
                    Astana International Airport is 16 km away.
                </p>
            </div>
        </div>


        <div class="row">

            <div class="col text-center">

                <a href="/search-availability" class="btn btn-success">Make Reservation Now</a>

            </div>
        </div>


    </div>
{{end}}